.titre{
  font-size: 3rem !important;
  
}

.box {
  font-size: 0.9rem;
  display: flex;
  padding: 0px 10px;
  font-family: 'fkdisplayAlt-1' !important;
}

.box .btx {
  display: flex;
  align-items: center;
  color: #fff !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px
}

.box select {
  background: transparent;
  color: #fff !important;
  border: none;
  border-bottom: 1px solid #fff;
}

.box select option {
  background: #fff !important;
  color: #000;
  font-size: 12px;
  width: 40px
}

.box input[type="text"] {
  background: transparent;
  color: #fff !important;
  padding: 3px;
  border: none;
  border-bottom: 1px solid #fff;
  width: 150px;
}

.check-1 {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1px;
  position: relative;
  top: 0px;
}

.check-1:checked::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 9px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.col-4 {
  padding: 10px 0px
}

.box button {
  background: transparent;
  border: none;
  transform: translate(-50%);
  width: 10px
}

.box button img {
  filter: invert(100%);
}

.box label {
  padding: 0px 0px 10px 3px;
}

.article img {
  filter: invert(100%);
  width: 20px;
  height: 20px;
  margin: 0px 5px;
  transform: translate(-0px, -20%);
}

.article {
  display: flex;
}

.article .ligne {
  display: flex;
  border-bottom: 1px solid #fff;
}

.article p {
  padding: 0px 6px;
  font-size: 14px;
  justify-content: flex-start;
}

.article2 {
  padding: 25px 0px
}

.article2 .title {
  padding: 12px;
  width: 175px
}

.article2 .title p {
  color: #93bb0c !important;
}

.article2 h6 {
  font-size: 12px;
  padding-bottom: 3px
}

.article2 p {
  font-size: 10px
}

.article2 .card {
  color: red !important;
  padding: 5px;
  width: 110%;
  height: 135px;
}

.article2 .card .name-image {
  display: flex;
}

.article2 .card .name-image img {
  width: 45px;
  height: 45px;
}

.article2 .card .name-image h5 {
  color: #54a7d2 !important;
  padding: 2px 5px;
  font-size: 12px
}

.article2 .card {
  padding: 5px
}

.article2 .card p {
  color: #000 !important;
  font-size: 10px;
  line-height: 13px;
  padding: 5px 0px;
  height: 25px;
}

.article2 .card h4 {
  font-size: 10px;
  color: #54a7d2 !important;
  line-height: 15px;
}

.cx {
  position: relative;
  left: 52rem;
  bottom: 35px
}

.cx input {
  position: relative;
  bottom: 10px;
  left: 10px;
  outline: none;
}

.cx img {
  position: relative;
  bottom: 10px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .article {
    display: flex;
    flex-direction: column;
  }

  .article .ligne p {
    padding: 0px 6px;
  }

  .hidden {
    visibility: hidden;
  }

  .box .btx {
    flex-direction: row;
  }

  .box {
    font-size: 0.9em;
  }

  .article {
    display: flex;
    flex-direction: column;
  }

  .article .ligne p {
    padding: 0px 6px;
  }

  .box .btx {
    padding: 0px 0px
  }

  .chexbox2 label {
    width: 60px;
  }

  .parent {
    display: flex;
  }

  .duration {
    position: relative;
    bottom: 6px
  }

  .cx {
    position: relative;
    left: 40px;
    bottom: 10px
  }

  .cx label {
    position: relative;
    bottom: 8px;
    left: -30px
  }

  .cx input {
    top: 1px;
    left: -80px;
    outline: none;
  }

  .cx img {
    top: 3px;
    left: -80px;
  }

  .box button img {
    width: 20px;
  }

  .article2 .card {
    width: 100%;
  }

.titre{font-size: 2em !important}
.col-12{position: relative;left: 20px;}



}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .duration {
    position: relative;
    left: -60px;
  }

  .cx {
    position: relative;
    left: 90%;
  }

  .box button img {
    width: 22px;
  }
}













/* Book */

@font-face {
  font-family: 'fkdisplay';
  src: url('../police/fkdisplay.woff2') format('woff2'),
    url('../police/fkdisplay.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "monStyle";
  src: url("../font/Montserrat-VariableFont_wght.ttf") format('truetype');
}


/* Lazy Load Styles */
.card-image {
  display: block;
  min-height: 20rem;
  /* layout hack */
  background: #fff center center no-repeat;
  background-size: cover;
  /* filter: blur(3px);  */
}

.card-image>img {
  display: block;
  width: 397px;
  height: 371px;
  opacity: 0.06;

}

.card-image.is-loaded {
  filter: none;
  /* remove the blur on fullres image */
  transition: filter 1s;
}




/* Layout Styles */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 !important;
  /* font-size: 16px; */
  background-color: #000000;
  /* font-family: monStyle; */
}

.card-list {
  display: block;
  justify-content: center;
  padding: 0;
  width: 100%;
  font-size: 0;
  text-align: center;
  list-style: none;
}

.card {
  display: inline-block;
  width: 397px;
  height: 533px;
  border: none;
  border-radius: 0 !important;
  max-width: 18em;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);

}


.card-description {
  display: block;
  padding-top: 3em;
  padding-right: 4em;
  padding-bottom: 3em;
  padding-left: 4em;
  color: #010101;
  text-decoration: none;
}

.card-description>h2 {
  margin: 0 0 0.5em;
}

.card-description>p {
  margin: 0;
}


.head {
  width: 100%;
}

.head h1 {
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.head-center h1 {
  font-size: 2.8em;
  margin-top: 80px;
  word-spacing: 5px;
}

h1 {
  text-align: center;
  color: #fff;

  line-height: 1em;
  font-weight: 400;
}

.button-inner {
  background-color: #000000;
  color: #fff;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 12px;

  -webkit-transition: background-color .2s;
  transition: background-color .2s;

}

.text-block-34 {
  font-size: 20px;
  margin-left: 10px;
}

.button-inner img {
  width: 20px;
  height: auto;
  color: #fff;
  margin-left: 10px;
}



/* list-logo */
.logo {
  margin-left: 15%;
  margin-top: 40px;
  max-width: 77%;
}

.logocard-list {
  display: block;
  margin: 1rem auto;
  padding: 0;
  font-size: 0;
  list-style: none;

}

.logocard {
  display: inline-block;
  width: auto;
  height: auto;
  border: none;
  border-radius: 0 !important;
  max-width: 17rem;
  margin: 1rem;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);

}

.logocard img {
  display: flex;
  width: 200px;
  height: 100px;
  object-fit: contain;
}

/* join */

.head-center h3 {
  font-size: 15px;
  text-align: center;
  color: #fff;
  line-height: 80px;
  font-weight: 200;
  word-spacing: 3px;
}



/* form starting stylings ------------------------------- */
.group {
  display: flex;
  position: relative;
  margin-bottom: 45px;
  margin-top: 20px;
}

.group input {
  font-size: 18px;
  padding: 10px 10px 5px 5px;
  display: block;
  width: 60%;
  border: none;
  border-bottom: 2px solid #000000;
}

.group input:focus {
  outline: none;
}

/* LABEL ======================================= */
.join ul li label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


/* active state */
.join input:focus~label,
.join input:valid~label {
  top: -10px;
  font-size: 14px;
  color: #000000;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #000000;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
.join input:focus~.bar:before,
.join input:focus~.bar:after {
  width: 50%;
}

.input-group {
  display: flex;
}

.input-group-append {
  margin-left: -1px;
}

.monBtn {
  border: none;
  border-bottom: 2px solid #000000;
  border-radius: 0;
  background-color: white;
  padding-top: 10px;
  padding-right: 0px;
}


.monBtn i {
  color: #000000;

}

.monBtn:focus {
  outline: none;
}





/* joinnnnnnnnnnnnn */

.join {
  margin-top: 100px;
  background-color: #fff;
}

.mycontainer h1,
h2 {
  color: #000000 !important;
  /* text-align: center; */
}

.mycontainer {
  display: flex;
  align-items: center;
  /* pour aligner les éléments verticalement au centre */
  list-style-type: none;
  /* pour enlever les puces de listes */
  margin: 0;
  /* pour enlever les marges de listes */
  padding: 0;
  /* pour enlever les paddings de listes */
  height: 200px;
}

.mycontainer li h1 {
  font-size: 3.3em;
  line-height: 1em;
  font-weight: 400;
}

.mycontainer li h2 {

  width: 400px;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 1.5em;
  line-height: 1.3em;
  font-weight: 400;
}


.mycontainer li {
  flex: 1;
  /* pour que tous les éléments occupent également de l'espace */
  padding: 0;
}

@media (max-width: 1129px) {

  /* pour les écrans de taille inférieure à 768px */
  .mycontainer {
    padding-top: 20px;
    flex-direction: column;
    /* pour changer l'orientation des éléments en colonne */
    height: 300px;
  }

  .mycontainer h1,
  h2 {
    text-align: center;
  }

  .group input {
    width: 90%;
  }

  .mycontainer label {
    font-size: 25px;
  }


}

.group {
  position: relative;
  margin-bottom: 45px;
}