.titre h1 {
	text-align: left !important;
	font-size: 50px;
}

.btn-custom-cart {
	padding: 15px 20px;
	color: black !important;
	background-color: white;
	font-size: 14px;
	z-index: 998;
}

.btn-custom-cart img {
	width: 20px !important;
	margin-left: 15px;
}


::placeholder {
	color: #222 !important;
}


.content-cart {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.item-cart {
	/* max-width: 537px; */
	/* border: 1px solid red; */
}

.item-cart td {
	/* font-size: 12px; */
}

.img-tab {
	width: 10px;
	height: 10px;
	object-fit: contain;
}

.content-1 {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.content-2 {
	align-items: center;
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid white;
}
.content-1 div{
	padding-top: 3rem;
	padding-bottom: 1rem!important;
}
.content-2 div{
	padding-bottom: 1.5rem!important;
	padding-top: 1.5rem!important;
}
@media (max-width:1000px) {
	.content-0 {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.content-0 div {
		flex-basis: 50%;
	}

	.content-1, .content-2{
		border-top: 1px solid white;
		flex-direction: column;
	}
	
	.content-1 div, .content-2 div {
		/* border-bottom: 1px solid white; */
		align-items: center;
	}
	.content-1 div {
		padding-bottom: 1.1rem!important;
	}

	.content-cart {
		/* flex-direction: column; */
		justify-content: center !important;
	}

	.item-cart {
		flex-basis: 100% !important;
	}

	.btn-fa {
		display: flex !important;
		justify-content: center !important;
		text-align: center;
	}
}