.sect-logo{position: relative;left: 30em}
.titre{color: #B7EB0F !important;margin: 50px 0px;}
.order{background: #B7EB0F;text-align: center;width: 18vw;padding: 2% 0px;position: relative;top: 3vw;}
.boite{padding-top: 10%;}
.boite h4,p,h5,strong,h6{color: black !important;}
.boite h4{color: #ed7473 !important;padding-bottom: 5%;}
.boite p{text-align: left; margin: 4% 0 !important;}
.borders{border-bottom: 1px solid #999;padding: 50px}
.tbl{padding: 1% 5%;border-bottom: 1px solid #888;align-items: center; font-size: 1vw;}
.tbl .logo{filter: invert(1);width:  5vw;margin-right: 5%;}
.tbl .lg{font-size: 12px;}
.date{padding: 5%;align-items: center;border-bottom:1px solid #888;}
.date strong{font-size: 1.2vw;color: #333 !important;padding: 0;}
.b-price{width: 20vw;padding: 5% 2%;margin: 2%;border: 1px solid #555;border-radius: 1vw; }
.es{padding: 5%; font-size: 1vw;}
.final{padding: 5% 0px;}

@media screen and (max-width: 768px){
	.sect-logo{position: relative;left: 35%;margin-top: 50px;}
}


